MFTR/ProjetMFTR/ProjetMFTR/bin/Debug/ProjetMFTR.exe.manifest
MFTR/ProjetMFTR/ProjetMFTR/bin/Debug/ProjetMFTR.application
MFTR/ProjetMFTR/ProjetMFTR/ProjetMFTR.csproj
MFTR/ProjetMFTR/.vs/ProjetMFTR/v15/Server/sqlite3/storage.ide-wal
MFTR/ProjetMFTR/.vs/ProjetMFTR/v15/Server/sqlite3/storage.ide-shm
MFTR/ProjetMFTR/.vs/ProjetMFTR/v15/Server/sqlite3/storage.ide
